* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2896ae;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo h1 {
    font-size: 20px;
    font-weight: normal;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1f7d92;
}

.auth-menu {
    display: flex;
    gap: 10px;
}

.auth-menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.auth-menu a:hover {
    background-color: #1f7d92;
}

.hidden {
    display: none;
}

/* Выпадающее меню */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Позиция меню под кнопкой */
    left: 0;
    background-color: #ffffff;
    border: 1px solid #d3eaf2;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #2896ae;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #d3eaf2;
}

/* Держим меню открытым */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Заголовок секции */
.section-title {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
    color: #2896ae;
    font-weight: bold;
    border-bottom: 2px solid #2896ae;
    padding-bottom: 10px;
}

/* Стиль для карточек книг */
#books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 20px 0;
}

.book {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.book-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1.5rem;
}

.book h3 {
    font-size: 1.4em;
    margin-bottom: 0.5rem;
    color: #2896ae;
}

.book p {
    margin: 0.5rem 0;
    font-size: 0.95em;
    color: #666;
}

.book .rating {
    font-weight: bold;
    color: #2896ae;
}


footer {
    background-color: #d3eaf2;
    padding: 10px;
    text-align: center;
    color: #333;
    margin-top: auto; /* Это гарантирует, что футер будет внизу страницы */
}

/* Стили для уведомлений */
.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeOut 3s forwards ease-in-out;
}


.error-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edd4d4;
    border: 1px solid #e6c3c3;
    color: #571515;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeOut 3s forwards ease-in-out;
}


@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}
